.page[b-oauamiej4o] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-oauamiej4o] {
    flex: 1;
}

.navbar-nav .nav-link[b-oauamiej4o] {
    font-size: 18px;
    padding: 10px 20px;
    transition: background-color 0.3s, color 0.3s;
}

    .navbar-nav .nav-link:hover[b-oauamiej4o] {
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 5px;
    }
    /* Active Link */
    .navbar-nav .nav-link.active[b-oauamiej4o] {
        color: white;
    }
/* Brand Logo */
.navbar-brand[b-oauamiej4o] {
    font-size: 24px;
    font-weight: bold;
    background-color: #007bff; /* Blue background */
    color: white; /* Text color */
    padding: 10px 20px; /* Padding for better visual */
    border-radius: 5px; /* Rounded corners */
}
/* Log Out Button */
.navbar-nav .nav-link.text-danger[b-oauamiej4o] {
    font-weight: bold;
}
/* Spacing Between Centered Options */
.navbar-nav .nav-item[b-oauamiej4o] {
    margin-left: 10px;
    margin-right: 10px;
}

.top-row[b-oauamiej4o] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-oauamiej4o]  a, .top-row .btn-link[b-oauamiej4o] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-oauamiej4o] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-oauamiej4o] {
        display: none;
    }

    .top-row.auth[b-oauamiej4o] {
        justify-content: space-between;
    }

    .top-row a[b-oauamiej4o], .top-row .btn-link[b-oauamiej4o] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-oauamiej4o] {
        flex-direction: row;
    }

    .sidebar[b-oauamiej4o] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-oauamiej4o] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-oauamiej4o], article[b-oauamiej4o] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
